root = true

[*]
charset = utf-8

[*.cs]
insert_final_newline = true
trim_trailing_whitespace = true
tab_width = 2
indent_style = tab

# CA1050: Declare types in namespaces
dotnet_diagnostic.CA1050.severity = none

# IDE0090: Use 'new(...)'
dotnet_diagnostic.IDE0090.severity = none
